@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url('webfonts/Carnevalee_Freakshow.woff2') format('woff2'),
         url('webfonts/Carnevalee_Freakshow.woff') format('woff'),
         url('webfonts/Carnevalee_Freakshow.svg') format('svg'),
         url('webfonts/Carnevalee_Freakshow.ttf') format('truetype');
}