@font-face {
    font-family: 'RM Typerighter Regular';
    font-weight: normal;
    src: url('webfonts/RM_Typerighter_Regular.woff2') format('woff2'),
         url('webfonts/RM_Typerighter_Regular.woff') format('woff'),
         url('webfonts/RM_Typerighter_Regular.svg') format('svg'),
         url('webfonts/RM_Typerighter_Regular.ttf') format('truetype');
}
